:root{
    --Normal : #ddd5d5;
    --Grass : #57c46e;
    --Fire : #ec5712;
    --Wather : #48e;
    --Bug : #27e60e;
    --Electric : #e0ee22;
    --Rock : #6e4d06;
    --Ghost : #690659;
    --Poison : #b40c90;
    --Psychic : #fa52d6;
    --Fighting : #c54509;
    --Ground : #946b2d;
    --Dragon : #df576d;
}